repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: [--unsafe]
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-format
      - id: ruff
        args: [
          --fix,
          --exit-non-zero-on-fix,
          --config,
          'lint.extend-fixable = ["F401","F841"]',
        ]

  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check src tests
        language: system
        types_or: [python, pyi]
        pass_filenames: false
