repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: [--unsafe]
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: sort-simple-yaml
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types_or: [python, pyi]
        args: [
          --fix,
          --exit-non-zero-on-fix,
          --config,
          'lint.extend-fixable = ["F401","F841"]',  # fix unused imports and variables at commit (but not save)
        ]
      - id: pyright
        name: pyright
        entry: env PYRIGHT_PYTHON_IGNORE_WARNINGS=1 pyright
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
